<div class="styleguide-example">

  <h4 id="<%= @link %>"><%= @section.section %> <a class="styleguide-reference-link" href="#<%= @link %>">#</a></h4>
  <div class="styleguide-description">
    <%= @description %>
  </div>
  <div class="styleguide-example-content">
    <div id="<%= @link %>--example" class="styleguide-element">
      <%= @example_html %>
    </div>
    <% @section.modifiers.each do |modifier| %>
      <figure id="<%= @link %>--example--<%= modifier.name.downcase.strip.gsub(/[^\w-]/, '') %>" class="styleguide-element">
        <figcaption class="styleguide-element__description"><strong><%= modifier.name %></strong> <%= modifier.description %></figcaption>
        <%= @example_html.gsub('$modifier_class', " #{modifier.class_name}") %>
      </figure>
    <% end %>
    <div class="styleguide-html">
      <pre class="styleguide-code"><code class="html"><%= @escaped_html %></code></pre>
    </div>
  </div>

</div>
