<!DOCTYPE html>

<!--[if lte IE 8 ]> <html dir="ltr" lang="en-US" class="modernizr-no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html dir="ltr" lang="en-US" class="modernizr-no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="modernizr-no-js"><!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>Pattern Library | DoSomething.org</title>

  <script type="text/javascript" src="dist/modernizr.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="shortcut icon" href="dist/assets/images/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="dist/assets/images/apple-touch-icon-precomposed.png">

  <link rel="stylesheet" href="node_modules/dosomething-modal/dist/modal.css" media="screen, projection" type="text/css">
  <link rel="stylesheet" href="node_modules/dosomething-validation/dist/validation.css" media="screen, projection" type="text/css">

  <link rel="stylesheet" href="dist/forge.css" media="screen, projection" type="text/css">
  <link rel="stylesheet" href="dist/styleguide.css" media="screen, projection" type="text/css">

  <!--[if lt IE 9]>
  <script src="node_modules/html5shiv/dist/html5shiv.js" type="text/javascript"></script>
  <script src="node_modules/respond.js/dest/respond.min.js" type="text/javascript"></script>
  <![endif]-->

  <link rel="stylesheet" href="node_modules/highlight.js/styles/github.css" media="screen, projection" type="text/css">
</head>

<body>
<div class="chrome">

  <div id="top" class="wrapper">
    <nav class="navigation -white -floating">
      <a class="navigation__logo" href="http://www.dosomething.org"><span>DoSomething.org</span></a>
      <a class="navigation__toggle js-navigation-toggle" href="#"><span>Show Menu</span></a>
      <div class="navigation__menu">
        <ul class="navigation__primary">
          <li>
            <a href="//sites.google.com/a/dosomething.org/dosomethinguxwiki/">
              <strong class="navigation__title">Product Wiki</strong>
              <span class="navigation__subtitle">Specs, mocks, etc.</span>
            </a>
          </li>

          <li>
            <a href="//brand.dosomething.org">
              <strong class="navigation__title">Brand Guide</strong>
              <span class="navigation__subtitle">Style, tone, &amp; voice</span>
            </a>
          </li>

          <li>
            <a href="//forge.dosomething.org">
              <strong class="navigation__title">Pattern Library</strong>
              <span class="navigation__subtitle">Interface framework</span>
            </a>
          </li>
        </ul>

        <ul class="navigation__secondary">
          <li class="navigation__dropdown">
            <a href="#" class="navigation__dropdown-toggle"><%= version %></a>
            <ul>
              <li><a href="https://www.github.com/dosomething/forge">View on GitHub</a></li>
              <li><a href="https://www.npmjs.com/package/@dosomething/forge">View on NPM</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <header class="header" role="banner">
      <div class="wrapper">
        <h1 class="header__title">
          Pattern Library
        </h1>
        <p class="header__subtitle">
          Any pattern, anytime, anywhere.
        </p>
      </div>
    </header>

    <main>
      <nav class="styleguide-sidebar js-fixedsticky">
        <a href="#" class="secondary styleguide-navigation-toggle js-styleguide-navigation-toggle">Table of Contents</a>
        <ul class="waypoints -vertical js-scroll-indicator js-styleguide-navigation">
          <li><a href="#intro" class="js-jump-scroll">Introduction</a></li>

          <li>
            <a href="#base" class="js-jump-scroll">Base Styles</a>
            <ul>
              <li><a href="#base" class="js-jump-scroll">Base Elements</a></li>
              <li><a href="#fonts-and-colors" class="js-jump-scroll">Fonts &amp; Colors</a></li>
              <li><a href="#grid" class="js-jump-scroll">Grid System</a></li>
              <li><a href="#animation" class="js-jump-scroll">Animation</a></li>
            </ul>
          </li>

          <li>
            <a href="#components" class="js-jump-scroll">Components</a>
            <ul>
              <li><a href="#avatar" class="js-jump-scroll">Avatar</a></li>
              <li><a href="#forms" class="js-jump-scroll">Forms</a></li>
              <li><a href="#footnote" class="js-jump-scroll">Footnote</a></li>
              <li><a href="#heading" class="js-jump-scroll">Heading</a></li>
              <li><a href="#list" class="js-jump-scroll">List</a></li>
              <li><a href="#message-callout" class="js-jump-scroll">Message Callout</a></li>
              <li><a href="#messages" class="js-jump-scroll">Messages</a></li>
              <li><a href="#social-icon" class="js-jump-scroll">Social Icon</a></li>
              <li><a href="#spinner" class="js-jump-scroll">Spinner</a></li>
              <li><a href="#media-video" class="js-jump-scroll">Media Video</a></li>
              <li><a href="#waypoints" class="js-jump-scroll">Waypoints</a></li>
            </ul>
          </li>

          <li>
            <a href="#modules" class="js-jump-scroll">Modules</a>
            <ul>
              <li><a href="#call-to-action" class="js-jump-scroll">Call To Action</a></li>
              <li><a href="#figure" class="js-jump-scroll">Figure</a></li>
              <li><a href="#gallery" class="js-jump-scroll">Gallery</a></li>
              <li><a href="#info-bar" class="js-jump-scroll">Info Bar</a></li>
              <li><a href="#polaroid" class="js-jump-scroll">Polaroid</a></li>
              <li><a href="#tabs" class="js-jump-scroll">Tabs</a></li>
              <li><a href="#tile" class="js-jump-scroll">Tile</a></li>
            </ul>
          </li>

          <li>
            <a href="#regions" class="js-jump-scroll">Regions</a>
            <ul>
              <li><a href="#chrome" class="js-jump-scroll">Chrome</a></li>
              <li><a href="#container" class="js-jump-scroll">Container</a></li>
              <li><a href="#footer" class="js-jump-scroll">Footer</a></li>
              <li><a href="#header" class="js-jump-scroll">Header</a></li>
              <li><a href="#modal" class="js-jump-scroll">Modal</a></li>
              <li><a href="#navigation" class="js-jump-scroll">Navigation</a></li>
            </ul>
          </li>

          <li><a href="#resources" class="js-jump-scroll">Resources</a></li>
        </ul>
      </nav>

      <article class="styleguide-content">
        <p id="intro">This is <a href="https://www.github.com/dosomething/forge">Forge</a>, our interface framework and pattern library. It defines a set of base styles and common patterns shared throughout our website. It's a strong foundation for building beautiful interfaces.</p>

        <p>Forge was built for our internal needs at DoSomething.org, but it could also work for your organization. Feel free to fork our <a href="https://github.com/dosomething/forge">GitHub repository</a> and use it as a starting point for your own pattern library, or read more about why we <a href="https://blog.dosomething.org/we-open-sourced-our-code-heres-why-you-should-too/">open-source our code</a>.</p>

        <h2 id="base">Base Styles</h2>
        <p>Content is the basis for our design, so we need a strong typographic foundation. We define base HTML classes with comfortable font-size and spacing for readability, and a clear information hierarchy between elements.</p>

        <%- include('pattern', { pattern: styleguide.section('Base - Inline Elements') }) %>

        <h3 id="fonts-and-colors">Fonts &amp; Colors</h3>
        <p>We use <a href="http://www.marksimonson.com/fonts/view/proxima-nova">Proxima Nova</a> for all headings and body copy.</p>
        <p class="font-tile" style="font-family: 'Proxima Nova'; font-weight: 400; ">
          Any cause, anytime, anywhere. <code>($font-proxima-nova, $weight-normal)</code>
        </p>

        <p class="font-tile" style="font-family: 'Proxima Nova'; font-weight: 600; ">
          Any cause, anytime, anywhere. <code>($font-proxima-nova, $weight-sbold)</code>
        </p>

        <p class="font-tile" style="font-family: 'Proxima Nova'; font-weight: 700; ">
          Any cause, anytime, anywhere. <code>($font-proxima-nova, $weight-bold)</code>
        </p>

        <p>We use <a href="https://www.google.com/fonts/specimen/Covered+By+Your+Grace">Covered By Your Grace</a> as the "voice" of DoSomething.org.</p>
        <p class="font-tile" style="font-family: 'CoveredGrace';">
          Any cause, anytime, anywhere. <code>($font-handwritten, $weight-normal)</code>
        </p>

        <p>We have three primary brand colors.</p>
        <ul class="gallery -duo">
          <li>
            <div class="color-tile" data-hex="#23b7fb">
              <strong>Blue</strong>
              <code>($blue) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>

          <li>
            <div class="color-tile" data-hex="#4e2b63">
              <strong>Purple</strong>
              <code>($purple) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>

          <li>
            <div class="color-tile" data-hex="#fcd116">
              <strong>Yellow</strong>
              <code>($yellow) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>
        </ul>

        <p>For consistency, we try to use these four grayscale values throughout our interfaces.</p>
        <ul class="gallery -duo">
          <li>
            <div class="color-tile" data-hex="#222">
              <strong>Off Black</strong>
              <code>($off-black) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>

          <li>
            <div class="color-tile" data-hex="#444">
              <strong>Dark Gray</strong>
              <code>($dark-gray) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>

          <li>
            <div class="color-tile" data-hex="#999">
              <strong>Medium Gray</strong>
              <code>($med-gray) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>

          <li>
            <div class="color-tile" data-hex="#ddd">
              <strong>Light Gray</strong>
              <code>($light-gray) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>
        </ul>

        <p>They're not part of our brand, but we use these guys in special cases.</p>
        <ul class="gallery -duo">
          <li>
            <div class="color-tile" data-hex="#ff4747">
              <strong>Errors</strong>
              <code>($error-color) <span class="color-tile__value js-color-label">&hellip;</span></code>
            </div>
          </li>
        </ul>

        <p class="footnote styleguide-tip"><strong>Tip:</strong> Double-click on a swatch to switch between color formats.</p>

        <h3 id="grid">Grid System</h3>
        <img src="styleguide/assets/grid-visualization.jpg" alt="visualization of grid on DoSomething.org homepage" />
        <p>We use <a href="http://susy.oddbird.net">Susy 2</a> to build our interface on a fluid grid. This promotes consistency and provides rules for layouts to comfortably expand and contract in a multi-device world. Our grid is split up into sixteen columns, with a 24 pixel static gutter between columns.</p>
        <p>See the <a href="http://susydocs.oddbird.net/en/latest/">Susy documentation</a> for implementation details.</p>

        <h3 id="animation">Animation</h3>
        <p>We use animation to add a sense of playfulness and delight to our interface. Animations also hint at functionality and inform the user's mental model of how an interface functions.</p>

        <%- include('pattern', { pattern: styleguide.section('Animation - Fade In'), hide_markup: true  }) %>
        <%- include('pattern', { pattern: styleguide.section('Animation - Fade In Up'), hide_markup: true  }) %>
        <%- include('pattern', { pattern: styleguide.section('Animation - Fade Out'), hide_markup: true  }) %>
        <%- include('pattern', { pattern: styleguide.section('Animation - Fade Out Down'), hide_markup: true  }) %>
        <%- include('pattern', { pattern: styleguide.section('Animation - Tada'), hide_markup: true  }) %>
        <%- include('pattern', { pattern: styleguide.section('Animation - Wobble'), hide_markup: true  }) %>
        <%- include('pattern', { pattern: styleguide.section('Animation - Shake'), hide_markup: true }) %>

        <h2 id="components">Components</h2>
        <p>We don't want to re-invent the wheel. Re-usable interface patterns are catalogued within Forge to promote consistency throughout our interfaces and minimize code bloat. We start by defining atomic components. These are the smallest building blocks of our interfaces.</p>

        <%- include('pattern', { pattern: styleguide.section('Avatar') }) %>

        <div id="forms">
          <%- include('pattern', { pattern: styleguide.section('Forms - Button') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Form Item') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Form Action') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Inline Form Action') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Field Label') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Option Field') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Media Option Field') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Select Box') }) %>
          <%- include('pattern', { pattern: styleguide.section('Forms - Text Field') }) %>
        </div>

        <%- include('pattern', { pattern: styleguide.section('Footnote') }) %>
        <%- include('pattern', { pattern: styleguide.section('Heading') }) %>
        <%- include('pattern', { pattern: styleguide.section('List') }) %>
        <%- include('pattern', { pattern: styleguide.section('Message Callout') }) %>
        <%- include('pattern', { pattern: styleguide.section('Messages') }) %>
        <%- include('pattern', { pattern: styleguide.section('Social Icon') }) %>
        <%- include('pattern', { pattern: styleguide.section('Spinner') }) %>
        <%- include('pattern', { pattern: styleguide.section('Media Video') }) %>
        <%- include('pattern', { pattern: styleguide.section('Waypoints') }) %>

        <h2 id="modules">Modules</h2>
        <p>Modules are groups of components, and generally work as a standalone part of an interface. They may even contain other modules (for example, the gallery module contains multiple tile modules).</p>

        <%- include('pattern', { pattern: styleguide.section('Call To Action') }) %>
        <%- include('pattern', { pattern: styleguide.section('Figure') }) %>
        <%- include('pattern', { pattern: styleguide.section('Gallery') }) %>
        <%- include('pattern', { pattern: styleguide.section('Gallery - Quartet') }) %>
        <%- include('pattern', { pattern: styleguide.section('Gallery - Triad') }) %>
        <%- include('pattern', { pattern: styleguide.section('Gallery - Duo') }) %>
        <%- include('pattern', { pattern: styleguide.section('Gallery - Featured') }) %>
        <%- include('pattern', { pattern: styleguide.section('Gallery - Mosaic') }) %>
        <%- include('pattern', { pattern: styleguide.section('Info Bar') }) %>
        <%- include('pattern', { pattern: styleguide.section('Polaroid') }) %>
        <%- include('pattern', { pattern: styleguide.section('Tabs') }) %>
        <%- include('pattern', { pattern: styleguide.section('Tile') }) %>

        <h2 id="regions">Regions</h2>
        <p>Regions are complete sections of an interface.</p>

        <%- include('pattern', { pattern: styleguide.section('Chrome') }) %>
        <%- include('pattern', { pattern: styleguide.section('Container') }) %>
        <%- include('pattern', { pattern: styleguide.section('Footer') }) %>
        <%- include('pattern', { pattern: styleguide.section('Header') }) %>
        <%- include('pattern', { pattern: styleguide.section('Modal') }) %>
        <%- include('pattern', { pattern: styleguide.section('Navigation') }) %>

        <h2 id="resources">Resources</h2>
        <p>Forge also includes some additional resources for use with traditional design tools.</p>
        <ul class="list">
          <li><a href="/resources/ds-logo-vector.eps">DoSomething.org Logo (EPS)</a> &mdash; scalable vector version of our logo</li>
          <li><a href="/resources/ds-logo-highres.png">DoSomething.org Logo (PNG)</a> &mdash; high-resolution rasterized version of our logo</li>
          <li><a href="/resources/sketch.zip">Sketch Resources</a> &mdash; vector patterns for <a href="http://bohemiancoding.com/sketch/" title="Vector drawing tool for the Mac.">Sketch</a></li>
        </ul>

        <footer class="styleguide-footer">
          <p class="footnote">&copy; <%= year %> DoSomething.org. Released under the <a href="https://github.com/DoSomething/forge/blob/dev/LICENSE">MIT License</a> on <a href="https://github.com/DoSomething/forge/">GitHub</a>. The name and logo for DoSomething.org are trademarks of Do Something, Inc and may not be used without permission.</p>
        </footer>

      </article>

    </main>

  </div>
</div>

<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="node_modules/fixed-sticky/fixedsticky.js"></script>

<script type="text/javascript" src="node_modules/dosomething-modal/dist/modal.js"></script>
<script type="text/javascript" src="node_modules/dosomething-validation/dist/validation.js"></script>

<script type="text/javascript" src="dist/forge.js"></script>

<script type="text/javascript" src="styleguide/assets/kss.js"></script>
<script type="text/javascript" src="styleguide/assets/kss-colortiles.js"></script>

<script type="text/javascript">
  $('.js-fixedsticky').fixedsticky();
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64876573-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
