<% if(pattern) { %>
<div class="styleguide-example">
  <h4 id="<%= pattern.referenceURI().replace('%20', '-') %>"><%= pattern.header() %> <a class="styleguide-reference-link" href="#<%= pattern.referenceURI().replace('%20', '-') %>">#</a></h4>
  <div class="styleguide-description">
    <%- pattern.description() %>
  </div>
  <% if(pattern.markup()) { %>
  <div class="styleguide-example-content">
    <div id="<%= pattern.referenceURI().replace('%20', '-') %>--example" class="styleguide-element">
       <%- pattern.markup() %>
    </div>

    <% for(var i = 0; i < pattern.modifiers().length; i++) { %>
      <figure id="<%= pattern.referenceURI().replace('%20', '-') + '--example--' + pattern.modifiers(i).className() %>" class="styleguide-element">
        <figcaption class="styleguide-element__description"><strong><%= pattern.modifiers(i).name() %></strong> <%- pattern.modifiers(i).description() %></figcaption>
        <%- pattern.markup().replace(/\{\{modifier_class}}/g, pattern.modifiers(i).className()) %>
      </figure>
    <% } %>

    <% if(!locals.hide_markup) { %>
      <div class="styleguide-html">
        <pre class="styleguide-code"><code class="html"><%= pattern.markup() %></code></pre>
      </div>
    <% } %>
  </div>
  <% } %>
</div>
<% } else { %>
  <div class="messages -error">
    Could not load a pattern with that name...
  </div>
<% } %>
